@import url(https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
.wrapper {
  height: 30rem;
}
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  background-image: url('./assets/bg.svg');
  font-family: Fira Code;
}
header {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 6.3rem;
  width: 100%;
}
header button {
  width: 17.1rem;
  height: 4.8rem;
  border-radius: 10px;
  background-color: #96eb95;
  border: none;
  font-size: 2rem;
  margin-top: 2rem;
}
h1 {
  display: flex;
  justify-content: flex-start;
  font-size: 6rem;
  color: white;
}
h1 span {
  color: #96eb95;
}
header form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.4rem;
  margin-top: 2.8rem;
}
header label {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.2rem;
}
header label input {
  width: 17.1rem;
  margin-top: 0.5rem;
  height: 4.8rem;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.06);
  color: white;
  font-size: 2.4rem;
  text-align: center;
  text-transform: uppercase;
}
header label input::placeholder {
  color: rgb(173, 173, 173);
}
main {
  margin-top: 5.7rem;
  margin-bottom: 10.9rem;
  width: 90rem;
  height: 43rem;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.8rem;
  padding: 2.4rem;
  padding-bottom: 1rem;
}
main h3 {
  color: white;
  font-size: 2.4rem;
}
main .display .header {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.content-coin {
  background: rgba(0, 0, 0, 0.2);
  width: 15rem;
  height: 4.4rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 1.5rem 1.9rem 1.5rem 0.8rem;
  justify-content: space-between;
  color: white;
}
.content-coin img {
  width: 1.4rem;
  height: 1.4rem;
}
.coin-value {
  color: rgba(255, 231, 19, 1);
}
.coin-name {
  font-size: 1.6rem;
  line-height: 2rem;
}
main .display {
  display: grid;
  height: 48rem;
  gap: 2.1rem;
  grid-template-columns: repeat(5, 1fr);
  overflow: scroll;
}
.display::-webkit-scrollbar {
  display: none;
  opacity: 0;
}

@media screen and (max-width: 970px) {
  .wrapper {
    width: 100%;
    padding: 1rem;
  }
  h1 {
    width: 100%;
    font-size: 5rem;
  }
  main {
    width: 100%;
  }
  main .display {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .wrapper {
    width: 100%;
  }
  h1 {
    width: 100%;
    flex-direction: column;
  }
  header form {
    justify-content: flex-start;
  }
  main {
    width: 100%;
  }
  main .display {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 390px) {
  header {
    margin-top: 0;
  }
  header button {
    width: 49vw;
  }
  header label input {
    width: 49vw;
  }
  main .display {
    grid-template-columns: repeat(1, 1fr);
  }
  .display {
    width: 100%;
  }
  .content-coin {
    width: 100%;
  }
  main h3 {
    font-size: 1.5rem;
  }
}
